APP_ENV=production
LISTEN_ADDR=127.0.0.1:8098
BASE_URL=https://wifi.eval.su
DATABASE_URL=postgres://postgres:replace_me@127.0.0.1:5432/wifiyka?sslmode=disable
SESSION_COOKIE_NAME=wifiyka_session
SESSION_TTL=720h
MAGIC_LINK_TTL=20m

SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_USERNAME=ceo@example.com
SMTP_PASSWORD=replace_me
SMTP_FROM=ceo@example.com
SMTP_FROM_NAME=Wifiyka

STATIC_DIR=
OFFLINE_PACKS_DIR=/var/www/sergey/wifiyka/current/deploy/offline-packs
OFFLINE_PACKS_BASE_URL=/offline-packs
DEFAULT_MAP_CENTER_LAT=43.5854823
DEFAULT_MAP_CENTER_LNG=39.7231090
